<div>
  <mat-card>

    <mat-card-title *ngIf="tournamentData[0] != undefined">{{tournamentData[0].tournamentName}}</mat-card-title>
    <mat-card *ngFor="let event of tournamentData; let i=index" >
      <mat-card-title class="clickable" (click)="goToEvent(event.eventId)">{{event.eventName}}</mat-card-title>
      <!-- <button mat-button (click)="addToSignUp(event.eventId)">
        Sign Up
      </button> -->
      <mat-checkbox class="" [(ngModel)]="eventsToRegister[i]">Checked</mat-checkbox>
    </mat-card>

    <button mat-button (click)="signUp()">
      Confirm Sign Up Selection
    </button>
  </mat-card>
</div>
<!-- <app-event-view></app-event-view> -->
