.main-card {
  margin-top: 3%;
  /* margin-left: 15%;
  margin-right: 15%; */
  min-height: 15%;
  min-width: 45%;
  max-width: 75%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: warn
}
