<div class="main-div">
  <div class="wrap-div">
    <mat-card class="main-card" *ngIf="isLogin; else signUp">
      <mat-card-header>
        <mat-card-title>
          <div>
            Please Login
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="main-field" [formGroup]="loginFormGroup">
          <div>
            <mat-form-field class="form-fields">
              <mat-label>Username</mat-label>
              <input matInput type="text" formControlName="username" placeholder="" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="form-fields">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="" (keydown.enter)="login()" required>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <div>
        <button mat-raised-button color="primary" *ngIf="isLogin" (click)="login()">
          Login
        </button>
        <button mat-raised-button color="warning" (click)="toggleIsLogin()">
          Sign Up Instead
        </button>
      </div>
    </mat-card>
  </div>



  <ng-template #signUp>
    <app-sign-up [(isLogin)]="isLogin" class="wrap-div"></app-sign-up>
  </ng-template>

</div>
