<div fxLayout="col" fxLayoutAlign="start">
  <div *ngFor="let depth of bracket" fxLayout="column" fxLayoutAlign="space-evenly" fxFlex>

    <mat-selection-list [multiple]="false" *ngFor="let tile of depth; let i = index" class="tile_width tile_border_bottom" [ngClass]="i % 2 == 1 ? 'tile_border_right' : ''" (click)="openDialog(tile)">

      <mat-list-option [value]="tile.db_set_id" class="tile_width tile_border_bottom" [ngClass]="i % 2 == 1 ? 'tile_border_right' : ''" (click)="openDialog(tile)">
        <{{tile.eventGameNumber}}> {{tile.team_1_names ? tile.team_1_names : "TBD"}}
        <span class="score_list" *ngFor="let point of tile.team_1_points; index as ind"> {{point[1]}}<span class="score_list" *ngIf="ind < tile.team_1_points.length-1">,</span> </span>
        <!-- TODO why do spans not in-line automatically????????? investigate in the future -->
      </mat-list-option>
      <mat-list-option [value]="tile.db_set_id" class="tile_width tile_border_bottom" [ngClass]="i % 2 == 1 ? 'tile_border_right' : ''" (click)="openDialog(tile)">
        <{{tile.eventGameNumber}}>  {{tile.team_2_names ? tile.team_2_names : "TBD"}}
        <span class="score_list" *ngFor="let point of tile.team_1_points; index as ind"> {{tile.team_2_points[ind][1]}}<span class="score_list" *ngIf="ind < tile.team_1_points.length-1">,</span> </span>
        <!-- TODO why do spans not in-line automatically????????? investigate in the future -->
      </mat-list-option>


      <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
    </mat-selection-list>

  </div>
</div>
