<div>
  <mat-card *ngIf="eventMetaData != undefined">

    <mat-card-title>{{tournamentData ? tournamentData.tournamentName : ''}} {{eventMetaData.event_name}}</mat-card-title>

    <button
    mat-raised-button
    color="primary"
    *ngIf="isTournamentAdmin"
    (click)="toggleManageTournament()"
    >
      {{isManagingTournament ? "Finish Editing" : "Manage Event"}}
    </button>

    <app-event-seed-view
    *ngIf="!eventInProgress && isManagingTournament && isTournamentAdmin"
    [eventMetaData]="eventMetaData"
    [eventBracketMetaData]="eventMetaData?.eventBracketMetaData![0]"
    >
    </app-event-seed-view>

    <mat-tab-group animationDuration="0ms">

      <mat-tab *ngFor="let bracket of eventMetaData.eventBracketMetaData!" label="{{bracket.bracket_level}}">
        <app-bracket-view [inputEventMetaData]="bracket"></app-bracket-view>
      </mat-tab>


    </mat-tab-group>
  </mat-card>
</div>
