<div>
  <mat-card class="main-card" *ngIf="isLogin; else signUpNgTemplate">
    <mat-card-header>
      <mat-card-title>
        <div>
          Please Login
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="main-field" [formGroup]="loginFormGroup">
        <div>
          <mat-form-field class="form-fields">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" placeholder="" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-fields">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="" required>
            <!-- <mat-error *ngIf="password.invalid">
              Password is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="login()">Login</button>
        </div>
        <div>
          <button mat-raised-button color="warning" (click)="toggleIsLogin()">Sign Up Instead</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <ng-template #signUpNgTemplate>
    <mat-card class="main-card">
      <mat-card-header>
        <mat-card-title>
          <div>
            Create an Account
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="main-field" [formGroup]="signUpFormGroup">
          <div>
            <mat-form-field class="form-fields">
              <mat-label>Username</mat-label>
              <input matInput type="text" formControlName="username" placeholder="" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="form-fields">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="" required>
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <!-- <mat-error *ngIf="signUpFormGroup.errors?.passwordMistmatch && (signUpFormGroup.dirty || signUpFormGroup.touched)">
                Passwords must match
              </mat-error> -->
              <mat-error *ngIf="signUpFormGroup.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="form-fields">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword" placeholder="" required>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button color="primary" (click)="signUp()">Create Account</button>
          </div>
          <div>
            <button mat-raised-button color="warning" (click)="toggleIsLogin()">Login Instead</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <!-- <app-tournament-event></app-tournament-event> -->
  <app-tournament-view></app-tournament-view>
</div>
