<div class="nav-container">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="snav.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div matRipple>
      <span (click)="goHome()" class="logoHead">BaddieHub</span>
    </div>
    <span class="example-spacer"></span>

    <mat-form-field class="example-form-field" appearance="outline" color="white">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="searchString" (keydown.enter)="searchAndGoToResultsPage()" placeholder="Search">
      <button *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="searchString=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="goProfile()">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #snav class="sidenav" [mode]="'over'">
      <p>test side name</p>
      <mat-nav-list>
        <a mat-list-item routerLink="{{option.path}}" *ngFor="let option of sideNavOptions" (click)="snav.close()">{{option.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

