.example-spacer {
  flex: 1 1 auto;
}


.logoHead:hover {
  cursor: pointer;
}

.example-form-field {
  margin-top: 1%;
  font-size: 14px
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
  causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  min-width: 300px;
}
